* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family:'CabinetGrotesk-Black';
    src: url(../font/CabinetGrotesk-Black.woff);
    src: url(../font/CabinetGrotesk-Black.woff2);
} */
@font-face {
    font-family: "CabinetGrotesk-Bold";
    src: url(../fonts/CabinetGrotesk-Bold.ttf);
}

@font-face {
    font-family: "CabinetGrotesk-Bold";
    src: url(../fonts/CabinetGrotesk-Bold.ttf);
}

@font-face {
    font-family: "CabinetGrotesk-Medium";
    src: url(../fonts/CabinetGrotesk-Medium.ttf);
}

@font-face {
    font-family: "CabinetGrotesk-Regular";
    src: url(../fonts/CabinetGrotesk-Regular.ttf);
}

h1 {
    font-family: "CabinetGrotesk-Bold";
    font-weight: 700;
}

h2,
label {
    font-family: "CabinetGrotesk-medium";
    font-weight: 500;
}

ul {
    list-style: none;
    font-family: "CabinetGrotesk-medium";
    font-weight: 500;
}

ol {
    font-family: "CabinetGrotesk-Regular";
    font-weight: 400;
}



p,
::placeholder {
    font-family: "CabinetGrotesk-Regular";
    font-weight: 400;
}

a {
    text-decoration: none;
    font-family: "CabinetGrotesk-Regular";
}

button {
    font-family: "CabinetGrotesk-Medium";
    cursor: pointer;
}

.btn {
    padding: 16px 32px 16px 40px;
    height: 56px;
    font-family: "CabinetGrotesk-Medium";
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    font-weight: 500;
}

@media (max-width:950px) {
    .btn {
        padding: 16px 7px 16px 30px;
    }
}